@charset "UTF-8";

/// Set a custom color for selections
///
/// @param { Color } $color
///     Set the text color for mouse/input selections
///
/// @param { String } $property
///     Set the background for mouse/input selections
///
/// @return { Color }

@mixin selection-style(
    $color: false,
    $background: false
) {
    ::-moz-selection {
        @if $color != false {
            color: $color;
        }

        @if $background != false {
            background: $background;
        }

        text-shadow: none;
    }

    input::-moz-selection {
        @if $color != false {
            color: $color;
        }

        @if $background != false {
            background: $background;
        }

        text-shadow: none;
    }

    ::selection {
        @if $color != false {
            color: $color;
        }

        @if $background != false {
            background: $background;
        }

        text-shadow: none;
    }

    input::selection {
        @if $color != false {
            color: $color;
        }

        @if $background != false {
            background: $background;
        }

        text-shadow: none;
    }
}