.wrapper {
    margin-left: auto;
    margin-right: auto;

    &:first-child {
        margin-top: 0;
    }

    &:last-child {
        margin-bottom: 0;
    }
}

@if mixin-exists('extend-styles') {
    @include extend-styles($wrapper-styles);
}