[submodule "git_submodules/totem.module.tipi-base-adapter"]
	path = git_submodules/totem.module.tipi-base-adapter
	url = https://toolbarthomas@github.com/toolbarthomas/totem.module.tipi-base-adapter.git
