@if variable-exists(spritesmith) {
    .sprite {
        position: relative;
        display: inline-block;
        vertical-align: middle;
        background-repeat: no-repeat;
        background-image: url(map-get($spritesmith, path));
        background-size: map-get($spritesmith, width) map-get($spritesmith, height);
        overflow: hidden;
        text-indent: 100%;
        white-space: nowrap;
    }

    @each $sprite in map-get($spritesmith, sprites) {
        #{'.sprite--' + map-get($sprite, name)} {
            width: map-get($sprite, width);
            height: map-get($sprite, height);
            background-position: map-get($sprite, offset_x) map-get($sprite, offset_y);
        }
    }
}