body {
    counter-reset: h2;
}

section {
    padding: box-model('gutter', 'medium') 0;
    counter-increment: section;

    + section {
        border-top: solid 2px color('border', 'base');
    }

    #{$headings} {
        position: relative;

        &::before {
            display: inline-block;
            color: color('font', 'light');

            @include breakpoint($min-width: wrapper-style('default', 'max-width')) {
                position: absolute;
                right: 100%;
                margin-right: box-model('gutter', 'small');
            }
        }
    }

    #{$h2} {
        counter-increment: h2;
        &::before {
            content: counter(h2) ". "
        }
    }

     #{$h3} {
        counter-increment: h3;

        &::before {
            content: counter(h2) "." counter(h3) " ";
        }
    }

    #{$h4} {
        counter-increment: h4;

        &::before {
            content: counter(h2) "." counter(h3) "." counter(h4) " ";
        }
    }


    #{$h5} {
        counter-increment: h5;

        &::before {
            content: counter(h2) "." counter(h3) "." counter(h4) "." counter(h8) " ";
        }
    }

    > h1,
    > h2,
    > h3,
    > h4 {


    }

    > h1 {


    }
}