@charset "UTF-8";

$smartphone-viewport:         0 !default;
$phablet-viewport:            400px !default;
$tablet-viewport:             640px !default;
$tablet-landscape-viewport:   960px !default;
$desktop-viewport:            1025px !default;
$widescreen-viewport:         1200px !default;
$highroller-viewport:         1500px !default;

$viewports: (
    'smartphone' : (
        'min-width' : $smartphone-viewport,
        'max-width' : ( $phablet-viewport - 1 )
    ),
    'phablet' : (
        'min-width' : $phablet-viewport,
        'max-width' : ( $tablet-viewport - 1 )
    ),
    'tablet' : (
        'min-width' : $tablet-viewport,
        'max-width' : ( $tablet-landscape-viewport - 1 )
    ),
    'tablet-landscape' : (
        'min-width' : $tablet-landscape-viewport,
        'max-width' : ( $desktop-viewport - 1 )
    ),
    'desktop' : (
        'min-width' : $desktop-viewport,
        'max-width' : ( $widescreen-viewport - 1 )
    ),
    'widescreen' : (
        'min-width' : $widescreen-viewport,
        'max-width' : ( $highroller-viewport - 1 )
    ),
    'highroller' : (
        'min-width' : $highroller-viewport,
        'max-width' : false
    )
) !default;