<!doctype html>
<html class="no-js">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="x-ua-compatible" content="ie=edge">

        <!-- Respsonsive Meta Tags -->
        <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0" />

        <title>Default template</title>

        <meta name="description" content="" />
        <meta name="robots" content="index, follow" />
        <meta name="author" content="" />

        <!-- Microsoft Windows Application Settings -->
        <meta name="application-name" content=""/>
        <meta name="msapplpication-TileColor" content="#000000"/>
        <meta name="theme-color" content="#000000" />


        <!-- Web Application Icon -->
        <link href="/resources/main/images/layout/appicon.png" rel="icon" type="image/png">
        <link href="/resources/main/images/layout/appicon.svg" rel="mask-icon" color="#000000">

        <!-- Apple Touch Icon -->
        <link href="/resources/main/images/layout/apple-touch-icon.png" rel="apple-touch-icon">
        <link href="/resources/main/images/layout/appicon.svg" rel="mask-icon" color="#000000">

        <link href="/resources/templates/default/stylesheets/default.css" rel="stylesheet" type="text/css">

        {% block page_style %}{% endblock %}
        {% block page_stylesheets %}{% endblock %}
    </head>
    <body>
        <div class="sticky-end">
            <div class="sticky-end-body">
                {% block header %}{% endblock %}

                {% block content %}
                    No content defined.
                {% endblock %}
            </div>
            <div class="sticky-end-footer">
                {% block footer %}{% endblock %}
            </div>
        </div>
    </body>

    <script src="/resources/main/javascripts/lib/svg-sprite-injector/svg-sprite-injector.js"></script>
    <script>
        var revision = 'cached';
        svgSpriteInjector('/resources/main/images/layout/svg-sprite.svg', {
            revision: revision
        });
    </script>

    <script src="/resources/main/javascripts/lib/jquery/dist/jquery.min.js"></script>

    <script src="/resources/templates/default/javascripts/default.js"></script>
    {% block page_script %}{% endblock %}
    {% block page_javascripts %}{% endblock %}
</html>