{% extends "totem::src/resources/templates/typography/typography.twig" %}

{% block content %}

    <section>
        <h1>Typography</h1>
        <p class="lead">Documation &amp; snippets for Totem main typography. As well as base-font-styles, Sass selector variables, usefull mixins and breakpoint specifications.</p>
    </section>

    <section>
        <h2>Font elements</h2>
        <p>Totem offers several font element variables to keep your prototype consistent. <br> The following elements are enabled by default.</p>

        <h3>Displays</h3>
        <p>Display headings are used when your headings needs to stand out.<br>You can define an element as a display heading by using the following classes: <strong>.display1, .display2, .display3</strong>.</p>

        {% embed "totem_submodules::totem.module.code-block/partials/code-block.twig" %}
            {% block code %}
                <h3 class="display1">Display 1</h3>
                <h3 class="display2">Display 2</h3>
                <h3 class="display3">Display 3</h3>
            {% endblock %}
        {% endembed %}

        <h3>Headings</h3>
        <p>All default html headings: <strong>h1/h6</strong> are available. Use the included heading classes: <strong>.h1/.h6</strong> yo style specific selectors as a heading.</p>

        {% embed "totem_submodules::totem.module.code-block/partials/code-block.twig" %}
            {% block code %}
                <h1>Heading 1</h1>
                <h2>Heading 2</h2>
                <h3>Heading 3</h3>
                <h4>Heading 4</h4>
                <h5>Heading 5</h5>
                <h6>Heading 6</h6>
            {% endblock %}
        {% endembed %}

        <h3>Leads</h3>
        <p>Leads are used for displaying your content as an introduction block.</p>

         {% embed "totem_submodules::totem.module.code-block/partials/code-block.twig" %}
            {% block code %}
                <p class="lead">Lead</p>
            {% endblock %}
        {% endembed %}

        <h3>Base</h3>
        <p>Base elements are used for adding markup to your prototype. These elements don't have a specific font size by default since it't inherited from the body. <br>These elements share the same styles; excluding font sizes.</p>
        <p>The following elements are included by default: <strong>p, address, ul, dl, ol, small</strong></p>

        {% embed "totem_submodules::totem.module.code-block/partials/code-block.twig" %}
            {% block code %}
                <p>Default paragraph</p>
            {% endblock %}
        {% endembed %}
        {% embed "totem_submodules::totem.module.code-block/partials/code-block.twig" %}
            {% block code %}
                <address>
                    Default address <br/>
                    Street 123
                    City
                    Country
                </address>
            {% endblock %}
        {% endembed %}

        {% embed "totem_submodules::totem.module.code-block/partials/code-block.twig" %}
            {% block code %}
                <ul>
                    <li>Default unordered list item 1</li>
                    <li>Default unordered list item 2</li>
                    <li>Default unordered list item 3</li>
                </ul>
            {% endblock %}
        {% endembed %}

        {% embed "totem_submodules::totem.module.code-block/partials/code-block.twig" %}
            {% block code %}
                <ol>
                    <li>Default ordered list item 1</li>
                    <li>Default ordered list item 2</li>
                    <li>Default ordered list item 3</li>
                </ol>
            {% endblock %}
        {% endembed %}

        {% embed "totem_submodules::totem.module.code-block/partials/code-block.twig" %}
            {% block code %}
                <dl>
                    <dt>Definition term 1</dt>
                    <dd>Definition description 1</dd>
                    <dt>Definition term 2</dt>
                    <dd>Definition description 2</dd>
                    <dt>Definition term 3</dt>
                    <dd>Definition description 3</dd>
                </dl>
            {% endblock %}
        {% endembed %}
    </section>

    <section>
        <h2>Other markup elements</h2>
        <p>Totem also has some default styling for the following markup elements:</p>
    </section>

{% endblock %}

{% block head %}
    <link href="/resources/templates/typography/stylesheets/typography.css" rel="stylesheet"/>
    <link href="/resources/groups/typography/stylesheets/typography.css" rel="stylesheet"/>

    <style>{% include "totem_submodules::totem.module.code-block/node_modules/prismjs/themes/prism.css" ignore missing %}</style>
{% endblock %}

{% block foot %}
    <script src="/resources/templates/default/javascripts/default.js"></script>
    <script src="/resources/groups/typography/javascripts/typography.js"></script>

    <script>{% include "totem_submodules::totem.module.code-block/node_modules/prismjs/components/prism-twig.min.js" ignore missing %}</script>
{% endblock %}