{% extends "totem::src/resources/templates/typography/typography.twig" %}

{% block content %}

    <h1>Typography</h1>
    <p class="lead">Documation &amp; snippets for Totem main typography. As well as base font styles, Sass selector variables, usefull mixins and breakpoint specifications.</p>

{% endblock %}

{% block head %}
    <link href="/resources/templates/default/stylesheets/default.css" rel="stylesheet"/>
    <link href="/resources/groups/typography/stylesheets/typography.css" rel="stylesheet"/>
{% endblock %}

{% block foot %}
    <script src="/resources/templates/default/javascripts/default.js"></script>
    <script src="/resources/groups/typography/javascripts/typography.js"></script>
{% endblock %}