@charset "UTF-8";

/// Helper function to set a ( defined ) setting
///
/// @param { String } $map
///     The map we wan't to update the setting within
///
/// @param { String } $property
///     The property to return ( specified per type )
///
/// @param { String } $value
///     The value we wan't to update to, the map won't update if haven't set a value
///
/// @return { Map }

@function set-setting(
    $map: false,
    $key: false,
    $value: false,
    $item: 'default'
) {
    @return map-combine($map, ($item: ($key : $value)));
}