<!doctype html>
<html class="no-js">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0" />

        <title>{{ page.title is not empty ? 'Module template' }}</title>

        {% block module_stylesheets %}{% endblock %}
    </head>
    <body>

        {% block content %}
            Module has not been defined.
        {% endblock %}

        {% block module_javascripts %}{% endblock %}
    </body>
</html>