<!doctype html>
<html class="no-js">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="x-ua-compatible" content="ie=edge">

        <title>{{ page.title is defined ? page.title : 'Module example' }}</title>

        <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0" />


        {% block module_stylesheets %}{% endblock %}
    </head>
    <body>
        <div class="module-viewer">
            <div class="module-viewer-wrapper">
                {% block module %}
                    Module has not been defined.
                {% endblock %}
            </div>
        </div>

        {% block module_javascripts %}{% endblock %}
    </body>
</html>