@charset "UTF-8";

///
// @name: default
// @type: Template
///

///
// 1. Shared - Must use mixins & functions we use within the helpers layer
///

// Import Core
@import "../../../../../node_modules/node_modules/totem.core/stylesheets/shared/**"; // Import totem.core as NPM module if this file is defined within ./totem
@import "../../../../../../totem_submodules/totem.core/stylesheets/shared/**"; // Import totem.core as GIT module if this file is defined within ./totem
@import "../../totem.core/stylesheets/shared/**"; // Import totem.core as NPM module or GIT module if this file is defined within NPM or GIT

// Import Main
@import "../../../main/stylesheets/shared/**"; // Root: ./totem
@import "../../../totem/src/resources/main/stylesheets/shared/**"; // Root: ./totem../totem_submodules
@import "../../../src/resources/main/stylesheets/shared/**"; // Root: ./totem/node_modules

// Import NPM modules
@import "../../../../../node_modules/totem*/stylesheets/shared/**"; // Root: ./totem
@import "../../../node_modules/totem*/stylesheets/shared/**"; // Root:  ./totem/node_modules && ./totem/../totem_submodules

// Import GIT modules
@import "../../../../../../totem_submodules/totem*/stylesheets/shared/**"; // Root: ./totem
@import "../../../totem_submodules/totem*/stylesheets/shared/**"; // Root:  ./totem/node_modules && ./totem/../totem_submodules

// Import project modules
@import "../../../modules/*/stylesheets/shared/**"; // Root: ./totem
@import "../../../totem/src/resources/modules/*/stylesheets/shared/**"; // Root: ./totem../totem_submodules
@import "../../../src/resources/modules/*/stylesheets/shared/**"; // Root: ./totem/node_modules

// Import Extends
@import "../../../extends/stylesheets/shared/**"; // Root: ./totem
@import "../../../totem/src/resources/extends/stylesheets/shared/**"; // Root: ./totem../totem_submodules
@import "../../../src/resources/extends/stylesheets/shared/**"; // Root: ./totem/node_modules

// Import local styles
@import "shared/**";



///
// 2. Helpers - Helper functions to get a value from a mapped setting.
///

// Import Core
@import "../../../../../node_modules/node_modules/totem.core/stylesheets/helpers/**"; // Import totem.core as NPM module if this file is defined within ./totem
@import "../../../../../../totem_submodules/totem.core/stylesheets/helpers/**"; // Import totem.core as GIT module if this file is defined within ./totem
@import "../../totem.core/stylesheets/helpers/**"; // Import totem.core as NPM module or GIT module if this file is defined within NPM or GIT

// Import Main
@import "../../../main/stylesheets/helpers/**"; // Root: ./totem
@import "../../../totem/src/resources/main/stylesheets/helpers/**"; // Root: ./totem../totem_submodules
@import "../../../src/resources/main/stylesheets/helpers/**"; // Root: ./totem/node_modules

// Import NPM modules
@import "../../../../../node_modules/totem*/stylesheets/helpers/**"; // Root: ./totem
@import "../../../node_modules/totem*/stylesheets/helpers/**"; // Root:  ./totem/node_modules && ./totem/../totem_submodules

// Import GIT modules
@import "../../../../../../totem_submodules/totem*/stylesheets/helpers/**"; // Root: ./totem
@import "../../../totem_submodules/totem*/stylesheets/helpers/**"; // Root:  ./totem/node_modules && ./totem/../totem_submodules

// Import project modules
@import "../../../modules/*/stylesheets/helpers/**"; // Root: ./totem
@import "../../../totem/src/resources/modules/*/stylesheets/helpers/**"; // Root: ./totem../totem_submodules
@import "../../../src/resources/modules/*/stylesheets/helpers/**"; // Root: ./totem/node_modules

// Import Extends
@import "../../../extends/stylesheets/helpers/**"; // Root: ./totem
@import "../../../totem/src/resources/extends/stylesheets/helpers/**"; // Root: ./totem../totem_submodules
@import "../../../src/resources/extends/stylesheets/helpers/**"; // Root: ./totem/node_modules

// Import local styles
@import "helpers/**";



///
// 3. Settings - All variables will be defined on the same level so we can share it in the whole project.
///

// Import Core
@import "../../../../../node_modules/node_modules/totem.core/stylesheets/settings/**"; // Import totem.core as NPM module if this file is defined within ./totem
@import "../../../../../../totem_submodules/totem.core/stylesheets/settings/**"; // Import totem.core as GIT module if this file is defined within ./totem
@import "../../totem.core/stylesheets/settings/**"; // Import totem.core as NPM module or GIT module if this file is defined within NPM or GIT

// Import Main
@import "../../../main/stylesheets/settings/**"; // Root: ./totem
@import "../../../totem/src/resources/main/stylesheets/settings/**"; // Root: ./totem../totem_submodules
@import "../../../src/resources/main/stylesheets/settings/**"; // Root: ./totem/node_modules

// Import NPM modules
@import "../../../../../node_modules/totem*/stylesheets/settings/**"; // Root: ./totem
@import "../../../node_modules/totem*/stylesheets/settings/**"; // Root:  ./totem/node_modules && ./totem/../totem_submodules

// Import GIT modules
@import "../../../../../../totem_submodules/totem*/stylesheets/settings/**"; // Root: ./totem
@import "../../../totem_submodules/totem*/stylesheets/settings/**"; // Root:  ./totem/node_modules && ./totem/../totem_submodules

// Import project modules
@import "../../../modules/*/stylesheets/settings/**"; // Root: ./totem
@import "../../../totem/src/resources/modules/*/stylesheets/settings/**"; // Root: ./totem../totem_submodules
@import "../../../src/resources/modules/*/stylesheets/settings/**"; // Root: ./totem/node_modules

// Import Extends
@import "../../../extends/stylesheets/settings/**"; // Root: ./totem
@import "../../../totem/src/resources/extends/stylesheets/settings/**"; // Root: ./totem../totem_submodules
@import "../../../src/resources/extends/stylesheets/settings/**"; // Root: ./totem/node_modules

// Import local styles
@import "settings/**";



///
// 4. Tools - Mixins & functions for defining project styling should be defined here
///

// Import Core
@import "../../../../../node_modules/node_modules/totem.core/stylesheets/tools/**"; // Import totem.core as NPM module if this file is defined within ./totem
@import "../../../../../../totem_submodules/totem.core/stylesheets/tools/**"; // Import totem.core as GIT module if this file is defined within ./totem
@import "../../totem.core/stylesheets/tools/**"; // Import totem.core as NPM module or GIT module if this file is defined within NPM or GIT

// Import Main
@import "../../../main/stylesheets/tools/**"; // Root: ./totem
@import "../../../totem/src/resources/main/stylesheets/tools/**"; // Root: ./totem../totem_submodules
@import "../../../src/resources/main/stylesheets/tools/**"; // Root: ./totem/node_modules

// Import NPM modules
@import "../../../../../node_modules/totem*/stylesheets/tools/**"; // Root: ./totem
@import "../../../node_modules/totem*/stylesheets/tools/**"; // Root:  ./totem/node_modules && ./totem/../totem_submodules

// Import GIT modules
@import "../../../../../../totem_submodules/totem*/stylesheets/tools/**"; // Root: ./totem
@import "../../../totem_submodules/totem*/stylesheets/tools/**"; // Root:  ./totem/node_modules && ./totem/../totem_submodules

// Import project modules
@import "../../../modules/*/stylesheets/tools/**"; // Root: ./totem
@import "../../../totem/src/resources/modules/*/stylesheets/tools/**"; // Root: ./totem../totem_submodules
@import "../../../src/resources/modules/*/stylesheets/tools/**"; // Root: ./totem/node_modules

// Import Extends
@import "../../../extends/stylesheets/tools/**"; // Root: ./totem
@import "../../../totem/src/resources/extends/stylesheets/tools/**"; // Root: ./totem../totem_submodules
@import "../../../src/resources/extends/stylesheets/tools/**"; // Root: ./totem/node_modules

// Import local styles
@import "tools/**";



///
// 5. Properties - Additional settings in Sass mapping format to share properties with. This layer can also use tools.
///

// Import Core
@import "../../../../../node_modules/node_modules/totem.core/stylesheets/properties/**"; // Import totem.core as NPM module if this file is defined within ./totem
@import "../../../../../../totem_submodules/totem.core/stylesheets/properties/**"; // Import totem.core as GIT module if this file is defined within ./totem
@import "../../totem.core/stylesheets/properties/**"; // Import totem.core as NPM module or GIT module if this file is defined within NPM or GIT

// Import Main
@import "../../../main/stylesheets/properties/**"; // Root: ./totem
@import "../../../totem/src/resources/main/stylesheets/properties/**"; // Root: ./totem../totem_submodules
@import "../../../src/resources/main/stylesheets/properties/**"; // Root: ./totem/node_modules

// Import NPM modules
@import "../../../../../node_modules/totem*/stylesheets/properties/**"; // Root: ./totem
@import "../../../node_modules/totem*/stylesheets/properties/**"; // Root:  ./totem/node_modules && ./totem/../totem_submodules

// Import GIT modules
@import "../../../../../../totem_submodules/totem*/stylesheets/properties/**"; // Root: ./totem
@import "../../../totem_submodules/totem*/stylesheets/properties/**"; // Root:  ./totem/node_modules && ./totem/../totem_submodules

// Import project modules
@import "../../../modules/*/stylesheets/properties/**"; // Root: ./totem
@import "../../../totem/src/resources/modules/*/stylesheets/properties/**"; // Root: ./totem../totem_submodules
@import "../../../src/resources/modules/*/stylesheets/properties/**"; // Root: ./totem/node_modules

// Import Extends
@import "../../../extends/stylesheets/properties/**"; // Root: ./totem
@import "../../../totem/src/resources/extends/stylesheets/properties/**"; // Root: ./totem../totem_submodules
@import "../../../src/resources/extends/stylesheets/properties/**"; // Root: ./totem/node_modules

// Import local styles
@import "properties/**";



///
// 6. Generic - Default tag style definitions for your app/module will be defined here. E.g. reset.css
///
@import "generic/**";



///
// 7. Base - Typography and other global styling definitions should be defined here.
///
@import "base/**";



///
// 8. Objects - Class-based selectors with undecorated design patterns i.e. layout definitions
///
@import "objects/**";



///
// 9. Components - Specific UI components will be defined here.
///
@import "components/**";



///
// 10. Utilities and helper classes with ability to override anything within the project. Usefull to define helper classes like: .hide
///
@import "utilities/**";