@charset "UTF-8";

/// Simple mixin for wrapping content within a media query.
///
/// @param { Number } $min-width
///     Min width value for our media query
///
/// @param { Number } $max-width
///     Max width value for our media query
///
/// @param { Property (String || Unitless)} $media-type
///     Define for what media type the media-query is written for
///
/// @param { Properties (Arglist)} $custom-arguments
///     Include extra arguments for the current query; i.e:

@mixin breakpoint(
    $min-width: 0,
    $max-width: false,
    $media-type: screen,
    $custom-arguments...
) {
    $output: '';
    $queries: ();

    //Append the min-width query to the set of media queries;
    @if $min-width != false
    {
        @if $min-width > 0
        {
            $queries: append($queries, '(min-width: #{$min-width})', comma);
        }
    }

    //Append the max-width query to the set of media queries;
    @if $max-width != false
    {
        $queries: append($queries, '(max-width: #{$max-width})', comma);
    }

    //Append any custom query defined in the $custom-arguments parameter;
    @if type-of($custom-arguments) == 'arglist'
    {
        @each $custom-argument in $custom-arguments
        {

            //Check if the custom-argument starts with '('
            @if str-slice($custom-argument, 0, 1) != '('
            {
                $custom-argument: '(' + $custom-argument;
            }

            @if str-slice($custom-argument, -2, -1) != ')'
            {
                $custom-argument: $custom-argument + ')';
            }

            $queries: append($queries, $custom-argument, comma);
        }
    }

    //Define the actual media query
    @if length($queries) > 0
    {
        @each $query in $queries
        {
            $and: '';
            @if $output != ''
            {
                $and: ' and ';
            }

            $output: $output + $and + $query;
        }
    }

    //Prepend the media-type to the defined media query
    @if $output != ''
    {
        $output: unquote($media-type) + ' and ' + $output;
    }

    //Output the content without the media query function if we have no defined query
    @if $output == ''
    {
        @content;
    }
    //Output the content with the defined media query
    @else
    {
        @media #{$output}
        {
            @content;
        }
    }
}