@charset "UTF-8";

/// Generate helper class with specific viewport selectors
///
/// @param { String } $selector
///     The css selector we wan't to style
///
/// @return { Value }

@mixin css-helper(
    $selector: null
) {
    @each $viewport, $list in $viewports {
        $viewport-min-width: 0;
        $viewport-max-width: 0;

        #{$selector} {
            @content;
        }

        @if ($viewport) {
            $viewport-min-width: viewport($viewport, 'min-width');
            $viewport-max-width: viewport($viewport, 'max-width');

            $selector: ($selector + '--' + $viewport);

            /// $viewport and smaller
            @include breakpoint(
                $max-width: $viewport-max-width
            ) {
                #{$selector + '-and-smaller' } {
                    @content;
                }
            }

            /// $viewport specific
            @include breakpoint(
                $min-width: $viewport-min-width,
                $max-width: $viewport-max-width
            ) {
                #{$selector} {
                    @content;
                }
            }

            /// $viewport and larger
            @include breakpoint(
                $min-width: viewport($viewport, 'min-width')
            ) {
                #{$selector + '-and-larger'} {
                    @content;
                }
            }
        }
    }
}