@charset "UTF-8";

/// Combines 2 maps into one without destroying any keys that are not present in the base map
/// Usefull for updating settings within Totem
///
/// @param { Map } $base-map
///     The base map will be used as the base file.
///
/// @param { Map } $tmp-map
///     The temporary map we wan't to combine it's values with the main map.
///
/// @return { Map }

@function map-combine($base-map, $tmp-map) {
    $ouput: $base-map;

    @each $key, $value in $tmp-map {
        @if (not map-has-key($ouput, $key)) or (type-of(map-get($ouput, $key)) != type-of($value)) or (not (type-of(map-get($ouput, $key)) == map and type-of($value) == map)) {
            $ouput: map-merge($ouput, ($key: $value));
        }
        @else {
            $ouput: map-merge($ouput, ($key: map-combine(map-get($ouput, $key), $value)));
        }
    }

    @return $ouput;
}